<div class='hero'>
	<div class='frosty col-xs-8 col-xs-offset-2'>
		<h1>Video courses for everyone.</h1>
		<h2>Share your knowledge and expand your world. Check out the courses already offered or create your own course.</h2>
		<%= link_to 'Explore Courses', courses_path, class: 'btn btn-success' %>
		<%= link_to 'Create a Course', new_instructor_course_path, class: 'btn btn-success' %>
	</div>
</div>
<br />
<div class='col-xs-10 col-xs-offset-1 features text-center'>
	<div class='col-sm-4'>
		<h3>Feature 1</h3>
	</div>
	<div class='col-sm-4'>
		<h3>Feature 2</h3>
	</div>
	<div class='col-sm-4'>
		<h3>Feature 3</h3>
	</div>
</div>