@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700);

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: normal;
	background: url('bg.png');
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.navbar {
	border-radius: 0px;
	box-shadow: 0px 2px 4px #e09214;
	background: url('alum.png');
}

.nav.navbar-nav > li > a {
	color: #ffffff;
}

.navbar-default {
	border-color: #777777;
}

.navbar-header .navbar-brand {
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	letter-spacing: -2px;
	font-size: 2.0em;
	color: #e09214;
}

.btn {
	margin: 10px 5px 5px 5px;
	border-radius: 2px;
}

.booyah-box {
	background: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;

  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;


	-webkit-box-shadow: 0px 2px 4px #e09214;
	-moz-box-shadow: 0px 2px 4px #e09214;
	box-shadow: 0px 2px 4px #e09214;

	h1, h2 {
		margin: 10px;
	}

	.btn {
		margin-left: 0;
	}
}

.clr {
	clear: both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
  margin: 10px;
}

ul li .pull-right {
	margin: 0;
}

.img-responsive {
	margin: 10px auto;
}

/*   PAGE SPECIFIC CSS    */

.hero {
	background: url('hero.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 370px;
	padding-top: 40px;
	-webkit-box-shadow: 0px 2px 4px #e09214;
	-moz-box-shadow: 0px 2px 4px #e09214;
	box-shadow: 0px 2px 4px #e09214;
}

.frosty {
	background: rgba(0,0,0,0.4);
	padding: 40px;
	
	color: #ffffff;
	h1, h2 {
		text-shadow: rgba(0,0,0,0.9);
	}

}

.lesson {
	background-color: #000000;
	margin-top: 10px;
	height: 130px;
	font-size: 15px;
	a {
		color: #ffffff;
	}
	a b {
		font-size: 25px;
	}
}

.section {
	border: 1px solid;
  border-color: #e09214 #bebebd #bebebd #e09214;
  padding: 20px;
}
 

/*   STICKY FOOTER STYLES */

$footer-height: 100px;

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto (-$footer-height);
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}

/* Set the fixed height of the footer here */
#footer {
  height: $footer-height;
  background: url('alum.png');

}

